<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Client Physique" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Les champs avec (*) sont obligatoires</h4>
          <form>
            <div class="row">
              <div class="col-md-6">
                <form action="#">
                  <div class="mb-4">
                    <label>Nom</label>
                    <input type="text" class="form-control" placeholder="Veuillez saisir le nom du client">
                  </div>
                  <div class="mb-4">
                    <label>Prénom (s)</label>
                    <input type="text" class="form-control" placeholder="Veuillez saisir le prénom du client">

                  </div>
                  <div class="mb-4">
                    <label>Adresse email</label>
                    <input type="email" class="form-control"  placeholder="Veuillez saisir le prénom du client">

                  </div>

                  <div class="mb-4">
                    <label>Téléphone</label>
                    <input type="tel" class="form-control" placeholder="Veuillez saisir le contact du client">
                  </div>
                  <div class="mb-4">
                    <label>Pays</label>
                    <select class="form-select">
                      <option selected>Sélectionner un pays</option>
                      <option value="côte d'Ivoire">Côte d'Ivoire</option>
                    </select>

                  </div>
                  <div class="mb-4">
                    <label>Ville</label>
                    <select class="form-select">
                      <option selected>Sélectionner une ville</option>
                      <option value="abidjan">Abidjan</option>
                    </select>
                  </div>
                  <div class="mb-4">
                    <label>Adresse</label>
                    <input type="text" class="form-control" placeholder="Veuillez saisir l'adresse du client">
                  </div>
                  <div class="mb-4">
                    <label>Situation matrimoniale</label>
                    <option selected>Sélectionner une ville</option>
                    <select class="form-select">
                      <option value="celibataire">Célibataire</option>
                      <option value="marie">Marié</option>
                      <option value="veuf">Veuf</option>
                      <option value="divorce">Divorce</option>
                    </select>
                  </div>
                </form>
              </div> <!-- end col -->
              <div class="col-md-6">
                <form action="#">
                  <div class="mb-4">
                    <label>Fixe</label>
                    <input type="tel" class="form-control" placeholder="Veuillez saisir le fixe du client">

                  </div>
                  <div class="mb-4">
                    <label>Profession</label>
                    <input type="text" class="form-control" placeholder="Veuillez saisir la profession du client" accept="*">

                  </div>
                  <div class="mb-4">
                    <label>Lieu de travail</label>
                    <input type="text" class="form-control" placeholder="Veuillez saisir le lieu de travail du client" accept="*">
                  </div>
                  <div class="mb-4">
                    <label>Date de naissance</label>
                    <input type="date" class="form-control" placeholder="Veuillez sélectionner la date">
                  </div>
                  <div class="mb-4">
                    <label>Boîte postale</label>
                    <input type="text" class="form-control" placeholder="Veuillez saisir la boîte postale du client">
                  </div>
                  <div class="mb-4">
                    <label>Photo</label>
                    <input type="file" class="form-control" id="undefined" multiple="" placeholder="Veuillez selectionner une photo" accept="*">
                  </div>
                </form>
              </div> <!-- end col -->

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
