<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Ajouter une entreprise" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-4">Les champs avec (<span style="color:red">*</span>)  sont obligatoires</h6>

            <div class="row">
              <div class="col-lg-12">
                <form action="#">
                  <div class="row">
                    <div class="col-md-4 mb-4">
                    <label>Nature de société <span style="color:red">*</span></label>
                    <select class="form-select border border-success">
                    <option selected> veuillez sélectionner une nature de société</option>
                      <option value="sa">SA</option>
                      <option value="sarl">SARL</option>
                      <option value="gie">GIE</option>
                      <option value="sas">SAS</option>
                      <option value="sgi">SGI</option>
                      <option value="individuel">INDIVIDUEL</option>
                    </select>
                  </div>
                  <div class="col-md-4 mb-4">
                    <label>Raison sociale <span style="color:red">*</span></label>
                    <input type="text" class="form-control border border-success" placeholder="Veuillez saisir la raison sociale du client">

                  </div>
                  <div class="col-md-4 mb-4">
                    <label>Représentant légal <span style="color:red">*</span></label>
                    <input type="email" class="form-control border border-success"  placeholder="Veuillez saisir le nom du représentant légal">

                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label>Numéro de régistre de commerce <span style="color:red">*</span></label>
                    <input type="text" class="form-control border border-success" placeholder="Veuillez saisir le numéro de régistre de commerce">
                  </div>
                  <div class="col-md-6 mb-4">
                    <label>Téléphone <span style="color:red">*</span></label>
                    <input type="tel" class="form-control border border-success" placeholder="Veuillez saisir le contact du client">
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label>Sigle <span style="color:red">*</span></label>
                    <input type="text" class="form-control border border-success" placeholder="Veuillez saisir le sigle du client">

                  </div>
                  <div class="col-md-6 mb-4">
                    <label>Siège social <span style="color:red">*</span></label>
                    <input type="text" class="form-control border border-success" placeholder="Veuillez saisir le siège social du client">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label>Numéro DFE</label>
                    <input type="text" class="form-control border border-success" placeholder="Veuillez saisir le numéro DFE">
                  </div>
                  <div class="col-md-6 mb-4">
                    <label>Adresse email<span style="color:red">*</span></label>
                    <input type="email" class="form-control border border-success" placeholder="Veuillez saisir l'email du client">
                  </div>
                </div>

                <div class="row" formGroupName="adresse">
                  <div class="adresse col-md-6 mb-4">
                    <label for="adresse1">Adresse 1</label>
                    <input
                      type="text"
                      class="form-control border border-success"
                      formControlName="adresse1"
                      id="adresse1"
                      placeholder="1234 Main St"
                    />
                  </div>
                  <div class="adresse col-md-6 mb-4">
                    <label for="adresse2">Adresse 2</label>
                    <input
                      type="text"
                      class="form-control border border-success"
                      formControlName="adresse2"
                      id="adresse2"
                      placeholder="Apartment, studio"
                    />
                  </div>
                      <div class="adresse col-md-2 mb-4">
                        <label for="codePostal">Code postal</label>
                        <input
                          type="text"
                          class="form-control border border-success"
                          id="codePostal"
                          formControlName="codePostal"
                        />
                      </div>
                      <div class="adresse col-md-4 mb-4">
                        <label for="ville">Ville</label>
                        <input
                          type="text"
                          class="form-control border border-success"
                          formControlName="ville"
                          id="ville"
                        />
                      </div>
                      <div class="adresse col-md-6 mb-4">
                        <label for="pays">Pays</label>
                        <select
                          id="pays"
                          formControlName="pays"
                          class="form-control border border-success"
                        >
                          <option selected>Sélectionner un pays</option>
                          <option>Côte d'Ivoire</option>
                        </select>
                      </div>
                  </div>


                  <div class="row">
                    <div class="col-md-6 mb-4">
                    <label>Fixe</label>
                    <input type="tel" class="form-control border border-success" placeholder="Veuillez saisir le fixe du client">

                  </div>

                  <div class="col-md-6 mb-4">
                    <label>Photo <span style="color:red">*</span></label>
                    <input type="file" id="photo" class="form-control" id="undefined" multiple="" name="photo">
                    <!-- <dropzone class="dropzone"></dropzone> -->
                  </div>
                </div>

                  <div class="row">
                    <div class="col-md-4 mb-4"></div>

                    <div class="col-md-2 mb-4">
                      <button type="submit" class="btn btn-success">
                        Valider
                      </button>
                    </div>
                    <div class="col-md-2 mb-4">
                      <button type="reset" class="btn btn-outline-secondary">
                       Annuler
                      </button>
                    </div>
                    <div class="col-md-4 mb-4"></div>
                  </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>

