<div class="mx-auto">
  <img
    src="assets/images/logo-dark.png"
    alt=""
    class="rounded mx-auto d-block"
  />
</div>
<div
  class="account-pages my-2 pt-sm-2 img-fluid"
  style="
    background-image: url(assets/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  "
>
  <div class="container">
    <div class="row justify-content-center pt-3">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div
          class="card overflow-hidden"
          style="
            border-radius: 20px;
            border: 1px solid #fff;
            background: rgba(0, 0, 0, 0.5);
          "
        >
          <div style="background-color: transparent">
            <div class="row">
              <div class="text-primary text-center p-4">
                <h2 style="color: #fff; font-weight: bold">Authentification</h2>
              </div>
            </div>
          </div>
          <div class="card-body pt-1">
            <!--<div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>-->
            <div class="p-2">
              <form
                class="form-horizontal"
                [formGroup]="loginForm"
                (ngSubmit)="onSubmit()"
              >
                <alert type="danger" *ngIf="error" [dismissible]="false">{{
                  error
                }}</alert>

                <div class="mb-3">
                  <label for="email" style="color: #fff; font-weight: bold"
                    >Email</label
                  >
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    id="email"
                    placeholder="Votre Email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    style="
                      border: none;
                      border-bottom: 1px solid #fff;
                      background: transparent;
                      outline: none;
                      padding-left: 30px;
                      color: #fff;
                    "
                  />
                  <i
                    class="bx bx-user"
                    style="
                      position: relative;
                      top: -28px;
                      left: 10px;
                      color: #fff;
                    "
                  ></i>
                  <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors.required">
                      L'adresse email est obligatoire
                    </div>
                    <div *ngIf="f.email.errors.email">
                      Email must be a valid email address
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="password" style="color: #fff; font-weight: bold"
                    >Mot de passe</label
                  >
                  <div class="input-group auth-pass-inputgroup">
                    <i
                      class="bx bx-lock"
                      style="
                        position: relative;
                        top: 10px;
                        left: 15px;
                        color: #fff;
                      "
                    ></i>
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                      placeholder="Entrez votre mot de passe"
                      [ngClass]="{
                        'is-invalid': submitted && f.password.errors
                      }"
                      aria-label="Password"
                      style="
                        border: none;
                        border-bottom: 1px solid #fff;
                        background: transparent;
                        outline: none;
                        padding-left: 30px;
                        color: #fff;
                      "
                    />

                    <div
                      *ngIf="submitted && f.password.errors"
                      class="invalid-feedback"
                    >
                      <span *ngIf="f.password.errors.required"
                        >Le mot de passe est obligatoire</span
                      >
                    </div>
                  </div>
                </div>

                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="remember-check"
                  />
                  <label
                    class="form-check-label"
                    for="remember-check"
                    style="color: #fff"
                  >
                    Se souvenir
                  </label>
                </div>

                <div class="mt-3 d-grid">
                  <button
                    class="btn btn-success rounded-pill"
                    style="
                      background-color: #fff;
                      color: #000;
                      font-weight: 700;
                    "
                    type="submit"
                  >
                    Connexion
                  </button>
                </div>

                <div class="mt-4 text-center">
                  <a routerLink="/account/reset-password" class="text-muted"
                    ><i class="mdi mdi-lock mr-1"></i> Mot de passe oublié ?</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-3 text-center" style="color: #fff">
          <p>© {{ year }} Workflow notaire SORHO ETUDE</p>
        </div>
      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->
