<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Ajouter une banque" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-4">Les champs avec (<span style="color:red">*</span>)  sont obligatoires</h6>
          <form>
            <div class="row">
              <div class="col-md-6">
                <form action="#">

                  <div class="mb-4">
                    <label>Sigle <span style="color:red">*</span></label>
                    <input type="text" id="siglebanque" name="siglebanque" class="form-control border border-success rounded-pill" placeholder="Veuillez saisir le sigle du client">

                  </div>
                  <div class="mb-4">
                    <label>Raison sociale <span style="color:red">*</span></label>
                    <input type="text" id="rsbanque" name="rsbanque" class="form-control border border-success rounded-pill"  placeholder="Veuillez saisir la raison sociale du client">
                  </div>

                  <div class="mb-4">
                    <label>Numéro de régistre de commerce <span style="color:red">*</span></label>
                    <input type="text" id="nrcbanque" name="nrcbanque" class="form-control border border-success rounded-pill" placeholder="Veuillez saisir le numéro de régistre de commerce">
                  </div>
                  <div class="mb-4">
                    <label>Téléphone <span style="color:red">*</span></label>
                    <input type="tel" id="telbanque" name="telbanque" class="form-control border border-success rounded-pill" placeholder="Veuillez saisir le contact du client">
                  </div>
                  <div class="mb-4">
                    <label>Nom complet du dirigeant <span style="color:red">*</span></label>
                    <input type="text" id="dirigeantB" name="dirigeantB" class="form-control border border-success rounded-pill" placeholder="Veuillez saisir le nom complet du dirigeant">
                  </div>
                  <div class="mb-4">
                    <label>Pays <span style="color:red">*</span></label>
                    <select id="paysbanque" name="paysbanque" class="form-select border border-success rounded-pill">
                      <option selected>Sélectionner un pays</option>
                      <option value="côte d'Ivoire">Côte d'Ivoire</option>
                    </select>

                  </div>
                  <div class="mb-4">
                    <label>Ville <span style="color:red">*</span></label>
                    <select id="villebanque" name="villebanque" class="form-select border border-success rounded-pill">
                      <option selected>Sélectionner une ville</option>
                      <option value="abidjan">Abidjan</option>
                    </select>
                  </div>


                </form>
              </div> <!-- end col -->
              <div class="col-md-6">
                <form action="#">

                  <div class="mb-4">
                    <label>Adresse <span style="color:red">*</span></label>
                    <input type="text" id="adressbanque" name="adressbanque" class="form-control border border-success rounded-pill" placeholder="Veuillez saisir l'adresse du client">
                  </div>
                  <div class="mb-4">
                    <label>Fixe <span style="color:red">*</span></label>
                    <input type="tel" class="form-control border border-success rounded-pill" placeholder="Veuillez saisir le fixe du client">
                  </div>

                  <div class="mb-4">
                    <label>Numéro DFE <span style="color:red">*</span></label>
                    <input type="text" class="form-control border border-success rounded-pill" placeholder="Veuillez saisir le numéro du DFE">
                 </div>
                  <div class="mb-4">
                    <label>Logo <span style="color:red">*</span></label>
                    <dropzone class="dropzone"></dropzone>
                  </div>
                </form>

              </div> <!-- end col -->
              <div class="d-grid gap-2 col-3 mx-auto">
                <button class="btn btn-success rounded-pill" type="submit">Valider</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>

